.tooltip-container {
    margin: 60px auto;
    padding-top: 0px;
    position: relative;
    width: 160px;    
    .tooltip-btn {
      display: block;
      margin: 0 auto;      
      color: #fff;  
      width: 160px;
      height: 50px;    
      line-height: 50px;    
      background: #181818;
      font-size: 22px;       
      border: 0;
      border-radius: 3px;  
      cursor: pointer;
      text-align: center;
      box-shadow: 0 5px 5px -5px #333;  
      transition: background 0.3s ease-in;
      &:hover { background: #000000; }
      &.tooltip-toggle:hover ~ .tooltip-content {
        opacity: 1;
        background-color: #fff;
        max-width: 400px;
        width: 200px;
        min-height: 70px;
        padding: 0px 20px;
        position: absolute;
        left: calc(50% - 100px);
        top: 145%;
        border-radius: 4px;
        z-index: 999;
        pointer-events: auto;
        cursor: auto;
        visibility: visible;      
        overflow: visible;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);  
        @media (max-width: 400px) { left: 0; };
        &:before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 10px 10px 10px;
          border-color: transparent transparent #ffffff transparent;  
          position: absolute;
          top: -10px;
          left: 30px;        
        }    
      }
    }
    .tooltip-content, 
    .tooltip-backdrop {
      height: 0; 
      width: 0; 
      opacity: 0;    
      visibility: hidden;
      overflow: hidden; 
      transition: opacity 0.2s ease-in; 
    }
    #tooltip-toggle {
      display: none;  
      &.active ~ .tooltip-backdrop,
      &:checked ~ .tooltip-backdrop {
        background-color: transparent;
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9;
        visibility: visible;
        opacity: 1;      
        transition: opacity 0.2s ease-in; 
      }
      &.active ~ .tooltip-content,
      &:checked ~ .tooltip-content {
        opacity: 1;
        background-color: #fff;
        max-width: 400px;
        width: 200px;
        min-height: 70px;
        padding: 0px 20px;
        position: absolute;
        left: calc(50% - 100px);
        top: 145%;
        border-radius: 4px;
        z-index: 999;
        pointer-events: auto;
        visibility: visible;      
        overflow: visible;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);  
        @media (max-width: 400px) { left: 0; };
        &:before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 10px 10px 10px;
          border-color: transparent transparent #ffffff transparent;  
          position: absolute;
          top: -10px;
          left: 30px;        
        }
      }  
    }
  }